@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Hind Madurai", sans-serif;
}

/*************************************/
.navbar {
  /*   background-color: #41ff6b; */
  background-color: white; /* 0.2 = 20% opacity */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 24px 70px;
  height: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left img {
  height: 170%;
}
.header-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.header-right img {
  height: 20px;
}

/************hero ****************/
.hero {
  background: linear-gradient(to right, #013223, #006747, #013223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  padding: 60px 35px;
  color: white;
  line-height: 2.1;
}

.hero img {
  max-height: 100%;
}

/*************main section*********************/
.mh {
  padding: 30px 70px;
}
/****************card section********************/
.cardCollection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.card {
  height: 220px;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
}
.c1 {
  display: flex;
  justify-content: space-between;
}
.c2 {
  line-height: 1.8;
}
.c2 button {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.icon1 {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe3e2;
}
.greenCall:hover {
  background-color: gray !important;
  color: white;
}
.copyClass:hover {
  background-color: black;
  color: white;
}
.icon1 img,
.icon2 img {
  height: 70%;
}

.icon2 {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfefff;
}
/*********call history****************/
.callHistory {
  width: 300px;
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
  padding: 15px;
}

.callHistory {
  background-color: white;
}

/**************Responsive Design for normal screen size mobile device*********************************/
@media screen and (max-width: 576px) {
  .navbar {
    padding: 20px 5px;
  }

  .hero {
    height: 250px;
    padding: 30px 10px;
  }

  .hero img {
    height: 40%;
  }
  .mh {
    padding: 30px 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardCollection {
    grid-template-columns: 1fr !important;
    justify-content: center !important;
  }

  .callHistory {
    margin-top: 20px;
    width: 290px;
  }
}
/***********Responsive for smaller screen mobile***********************************/
@media screen and (max-width: 400px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: center;
    padding: 5px 5px;
  }
  .header-left {
    margin: 0 auto;
  }
  .header-left img {
    width: 30% !important;
    height: 60%;
  }

  .hero {
    height: 270px;
    padding: 25px 5px;
  }
  .hero img {
    height: 30%;
    width: 25% !important;
  }
  .card {
    width: 260px;
  }
  .callHistory {
    margin-top: 20px;
    width: 270px;
  }
}
