@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Hind Madurai", sans-serif;
}

/*************************************/
.navbar {
  /*   background-color: #41ff6b; */
  background-color: white; /* 0.2 = 20% opacity */

  display: flex;
  justify-content: space-between;

  padding: 24px 100px;

  height: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left img {
  height: 120%;
}
.header-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.header-right img {
  height: 20px;
}

/************hero ****************/
.hero {
  background: linear-gradient(to right, #013223, #006747, #013223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  padding: 40px 35px;
  color: white;
}

.hero img {
  max-height: 70%;
}

/*************main section*********************/
.mh {
  padding: 30px 100px;
}
.cardCollection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  height: 220px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
}
.c1 {
  display: flex;
  justify-content: space-between;
}
.c2 {
  line-height: 1.8;
}
.c2 button {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}
.icon1 {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe3e2;
}

.icon1 img,
.icon2 img {
  height: 70%;
}

.icon2 {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfefff;
}

/**************Responsive Design*********************************/
@media screen and (max-width: 576px) {
  .cardCollection {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  .card {
    width: 100%;
  }
}
